# 编译产物
target/
*.o
*.so
*.a
*.bin
ldb

# 本地 GCC 目录
gcc13/
# 本地数据库文件
laoflch_db_data/
laoflch_db_data_prod/
##laoflch_hnsw_data/
##laoflch_db_index/
test_*/
# 二进制可执行文件
*.exe
lto-dump
cc1
cc1plus
lto1

# 临时文件、缓存
*.log
*.tmp

# Python 缓存
__pycache__/
*.py[cod]

# 生成的 Python protobuf 文件
tests_python/rpc_pb2.py
tests_python/rpc_pb2_grpc.py
tests_python/rpc.proto
